<div id="image-full" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Photo @ViewData["PhotoName"]</h4>
            </div>
            <div class="modal-body">
                <img id= @ViewData["PhotoID"] class="img-responsive" src="@ViewData["PhotoUrl"]" style="height:auto">
            </div>
        </div>

    </div>
</div>