@model IEnumerable<PhotoManager.Models.Album>

@{
    ViewBag.Title = "My Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Albums</h2>

<div class="row form-inline">
    <div class="col-md-4">
        @Html.Partial("_AlbumSearch")
    </div>
    <div class="col-md-4">
        @if (ViewBag.DisabledRegularUser)
        {
            @Html.ActionLink("Add new album", "Create", null, new { @class = "btn btn-primary", @disabled = "disabled" })
        }
        else
        {
            @Html.ActionLink("Add new album", "Create", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>

<hr>

<div class="jumbotron" id="albumList">
    @Html.Partial("_AlbumsList")
</div>

